androguard
Appium-Python-Client
asn1crypto
asttokens
attrs
backcall
black
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
decorator
et-xmlfile
exceptiongroup
executing
fonttools
future
h11
idna
iniconfig
ipython
jedi
Jinja2
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mypy-extensions
mysql-connector-python
networkx
numpy
openpyxl
outcome
packaging
pandas
parso
pathspec
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
protobuf
pure-eval
pycparser
pydot
Pygments
pyparsing
PySocks
pytest
pytest-html
pytest-metadata
python-dateutil
python-dotenv
pytz
requests
selenium
selenium-page-factory
six
sniffio
sortedcontainers
stack-data
traitlets
trio
trio-websocket
tzdata
urllib3
wcwidth
wsproto
allure-pytest